<div class="main-container" id="main-container-portfolio">
  <div class="section" id="section-1" >
    <div class="post" >

      <div class="title" data-aos="fade-left" data-aos-duration="500" data-aos-easing="linear">
        <h1>IN SHORT</h1>
        <div class="line"></div>
      </div>

      <p data-aos="fade-up" data-aos-duration="600">
        I am currently at my final BSc semester at the <strong>Warsaw University of Technology</strong>
        (faculty of Mathematics and Computational Sciences - MiNI). Not only do I have a quite high GPA but I also
        was a member of the <strong>IT Student Research Group</strong> KNI-dev-team - where I was part of the board and a
        virtual machines and server admin.
      </p>

      <p data-aos="fade-up" data-aos-duration="600">
        Alongside my studies, I am employed as a <strong>software development</strong> intern at <strong>Intel</strong>.
        I have a year of experience of working in a team that creates <strong>NIC drivers</strong> and <strong>configuration tools</strong>.
        Right now I create software in <strong>C</strong> / <strong>C++</strong> and scripts in <strong>Bash</strong> and <strong>Python</strong>. I work in <strong>Scrum</strong> following <strong>CI / CD</strong> guidelines,
        fluently using tools such as <strong>Git</strong> and <strong>Jenknins</strong>.
      </p>

      <p data-aos="fade-up" data-aos-duration="1200">
        For years, I have been interested in <strong>cloud solutions</strong> and <strong>software development</strong>. I have considerable
        (and expanding) knowledge of logic and algorithms as well as working experience in coding in <strong>C</strong>, <strong>C++</strong>, <strong>C#</strong>, <strong>Python</strong> and <strong>Bash</strong>. I also know some <strong>R</strong> and <strong>MATLAB</strong>.
        Moreover, I also have been developing web sites using <strong>Angular</strong>, <strong>React</strong>, <strong>Wordpress</strong> and crude <strong>PHP</strong>. I also possess some knowledge
        when it comes to <strong>SQL</strong> and <strong>Big Data solutions</strong>. I am a one big software aficionado.
      </p>

      <p data-aos="fade-up" data-aos-duration="1500">
        I keenly experiment with <strong>CI / CD</strong> processes. Apart from my working experience, I have always taken a <strong>DevOps</strong> part in every
        project I could ;p. I would always be the one to set up appropriate <strong>containers</strong>, configure <strong>Jenkins</strong>, create and administer <strong>pipelines</strong> and <strong>automated builds</strong>.
        Having experience with docker containers and virtual machines, it is inherent that I also like <strong>unix-based systems</strong>. I have general
        experience with working in <strong>ArchLinux</strong>, <strong>UNRAID</strong> and <strong>FreeNas</strong> systems. I am keenly interested in <strong>containerization</strong> and development
        of <strong>cloud solutions</strong>. Personally, I'd love to pursue a <strong>DevOps</strong> career.
      </p>

      <p data-aos="fade-up" data-aos-duration="900">Moreover, I am a very <strong>social</strong> and <strong>convivial</strong> person. I engage in a lot of
        projects and competitions. I have experience in <strong>human resources</strong> and
        <strong>budget management</strong> which I have earned while being a <strong>school president</strong> in my
        secondary school.
      </p>

      <p data-aos="fade-up" data-aos-duration="600">
        I speak <strong>English</strong> and <strong>Polish</strong> fluently. I am also capable of communicating in <strong>German</strong> at the B2 level
        and I know a little <strong>Chinese</strong> and <strong>Spanish</strong>.
      </p>
    </div>
  </div>

  <div class="section widgets" id="section-2" >
    <div class="post" data-aos="fade-up" data-aos-duration="600">
      <div class="title" data-aos="fade-left" data-aos-duration="500" data-aos-easing="linear">
        <h1>Education</h1>
        <div class="line"></div>
      </div>
      <h2>Warsaw University of Technology</h2>
      <ul>
        <li>field of study: <strong>Computer Science and Information Systems</strong></li>
        <li>faculty: <strong>Mathematics and Computational Sciences</strong> (MINI)</li>
        <li>current level: <strong>7th semester</strong></li>
        <li>member of the <strong>Student Research Group KNI board</strong></li>
        <li>KNI's <strong>virtual machines and server administrator</strong></li>
        <li>Provost's scholarship for most talented students (2021/22)</li>
        <li>Provost's scholarship for most talented students (2020/21)</li>
        <li>Scholarship for talented high school graduates - Grupa Pracuj - (2019/20)</li>
      </ul>
      <h2 style="margin-bottom: 0">VIII Public Secondary School</h2>
      <div class="label"><p>of Marie Sklodowska-Curie in Katowice</p></div>
      <ul>
        <li>majors: <strong>Computer Science</strong>, <strong>Mathematics</strong>, <strong>Physics</strong></li>
        <li>School's Student Board <strong>President</strong></li>
        <li>awarded a 'Primus inter Pares' distinction</li>
      </ul>
    </div>

    <!-- placeholder -->
    <div *ngIf="device.isDesktop()" style="width: calc(5 * var(--universal-padding)); height: 100%"></div>

    <div class="post" data-aos="fade-left" data-aos-duration="500" data-aos-easing="linear">
      <div class="title" data-aos="fade-left" data-aos-duration="500" data-aos-easing="linear">
        <h1>Certification</h1>
        <div class="line"></div>
      </div>
      <ul>
        <li><strong>CAE</strong> (Cambridge English Advanced Level 3 Certificate in ESOL International) – Grade A – <strong>C2 level</strong> </li>
        <li><strong>TOEFL iBT</strong> (Test of English as a Foreign Language) – <strong>109/120p.</strong></li>
        <li><strong>the SAT</strong> - 1470 / 1600p. </li>
        <li><strong>the SAT subject test in Maths II</strong> - 800 / 800p. </li>
        <li><strong>the SAT subject test in Physics </strong> - 670 / 800p. </li>
        <li><strong>Goethe-Zertifikat A2</strong> Fit in Deutsch</li>
        <li><strong>Matura 2019</strong>, majors: Computer Science, Mathematics, Physics</li>
        <li>Driver's license cat. B</li>
      </ul>

      <!-- placeholder -->
      <div style="height: var(--universal-padding); width: 100%"></div>

      <div class="title" data-aos="fade-left" data-aos-duration="500" data-aos-easing="linear">
        <h1>Work Experience</h1>
        <div class="line"></div>
      </div>
      <ul>
        <li><strong>Intel </strong>- software developer intern - NIC drivers (C, C++), scripting (Bash, Python), writing unit, system and integration tests, strict following of the CI / CD guidelines (Git, Jenkins), working in Scrum, writing code documentation
        </li>
        <li>Grafit - <strong>LAN networks and IT infrastructure junior technician</strong> - networks extension, modernisation and planning</li>
        <li>web pages <strong>design and development</strong> - original Wordpress theme, SEO, support</li>
      </ul>
    </div>
  </div>

  <div class="section " id="section-3">
    <div class="title" data-aos="fade-left" data-aos-duration="500" data-aos-easing="linear">
      <h1>Skills</h1>
      <div class="line"></div>
    </div>
    <div class="pack-of-cards">
      <!-- card cais -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>communication and interpersonal skills</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>I enjoy working with people very much. I value their insight and help.</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card pd -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>project delivery</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>I am conscientious and meticulous a person. I always watch out for deadlines!</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card eng -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>english</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>Written and spoken fluency. See my certificates above</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card deu -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>german</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i>&nbsp;<i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>Written and spoken at advanced (B2) level.</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card c -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>C</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>A year-long working experience (NIC drivers). Experience with posix-specific projects</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card cpp -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>C++</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>A year-long working experience (unit and integration tests). Experience with data structures projects</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card c# -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>C#</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>Passed a semester of C# labs with the highest grade: 5. Experience with database and GUI projects</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card python -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>Python</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>A year-long working experience - configuration scripts, system tests. Machine Learning projects</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card bash -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>Bash</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>A year-long working experience (configuration scripts)</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card R -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>R</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>Machine Learning and Data Analysis projects</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card docker -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>docker</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i>&nbsp;<i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>Used and maintained containers while planning server's functionalities</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card CI / CD -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>CI / CD</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i>&nbsp;<i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>Experience in git, Jenkins configuration and pipelines and GitHub Actions</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card java -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>java</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i>&nbsp;<i class="far fa-circle"></i>&nbsp;<i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>I've passed a semester of java with the highest grade possible (5)</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card matlab -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>matlab</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i>&nbsp;<i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>I've passed two semesters of matlab with the highest grade possible (5)</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card angular -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>angular</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i>&nbsp;<i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>I've developed a lot of projects in angular. Keenly interested in material and modern design</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card wp -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>wordpress</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>Designed and developed a proprietary theme for a company. Maintained and supported WordPress sites</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card php -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>php</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i>&nbsp;<i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>I've learned a lot while coding my own WordPress themes</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>sql</p>
              <hr>
              <div class="skill-dots">
                <div class="full-dots"><i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i>&nbsp;<i class="fas fa-circle"></i></div>
                &nbsp;
                <div class="empty-dots"><i class="far fa-circle"></i>&nbsp;<i class="far fa-circle"></i>&nbsp;<i class="far fa-circle"></i></div>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>Passed a semester of sql labs. Previous experience with MariaDB</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

    </div>
  </div>

  <div class="section" id="section-4" >
    <div class="title" data-aos="fade-left" data-aos-duration="500" data-aos-easing="linear">
      <h1>Projects</h1>
      <div class="line"></div>
    </div>
    <div class="pack-of-cards horizontal">

      <!-- card szczepienia -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>szczepienia.pw</p>
              <hr>

              <div class="skill-dots">
                <p>
                  <i class="fas fa-circle" style="color: #D50000"></i>
                  &nbsp; Vue &nbsp;
                  <i class="fas fa-circle" style="color: #D32F2F"></i>
                  &nbsp; HTML &nbsp;
                  <i class="fas fa-circle" style="color: #1976D2"></i>
                  &nbsp; CSS &nbsp;
                  <i class="fas fa-circle" style="color: #AEEA00"></i>
                  &nbsp; JS &nbsp;
                  <i class="fas fa-circle" style="color: #7B1FA2"></i>
                  &nbsp; Jenkins &nbsp;
                  <i class="fas fa-circle" style="color: #AEEA00"></i>
                  &nbsp; C#
                </p>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>A group fullstack project (front + back + db)</p>
              <p>Roles: backend developer (C# with EntityFramework and xUnit), DevOps (Jenkins, Python)</p>
              <p>See our project <a href="https://github.com/szczepienia-pw" target="_blank">here</a>!</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card flatly -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>Flatly</p>
              <hr>

              <div class="skill-dots">
                <p>
                  <i class="fas fa-circle" style="color: #D50000"></i>
                  &nbsp; React &nbsp;
                  <i class="fas fa-circle" style="color: #D32F2F"></i>
                  &nbsp; HTML &nbsp;
                  <i class="fas fa-circle" style="color: #1976D2"></i>
                  &nbsp; CSS &nbsp;
                  <i class="fas fa-circle" style="color: #AEEA00"></i>
                  &nbsp; JS &nbsp;
                  <i class="fas fa-circle" style="color: #7B1FA2"></i>
                  &nbsp; GitHub Actions &nbsp;
                  <i class="fas fa-circle" style="color: #AEEA00"></i>
                  &nbsp; Java
                </p>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>A group full stack project (front + back + db)</p>
              <p>Roles: fullstack developer (React + Java), DevOps (GitHub Actions)</p>
              <p>See project front <a href="https://github.com/Brotholomew/flatly" target="_blank">here</a>!</p>
              <p>See project back <a href="https://github.com/RazorMeister/flatly-backend" target="_blank">here</a>!</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card fringilla -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>Fringilla</p>
              <hr>

              <div class="skill-dots">
                <p>
                  <i class="fas fa-circle" style="color: var(--complementary-variant-1)"></i>
                  &nbsp; Wordpress &nbsp;
                  <i class="fas fa-circle" style="color: #7B1FA2"></i>
                  &nbsp; PHP &nbsp;
                  <i class="fas fa-circle" style="color: #D32F2F"></i>
                  &nbsp; HTML &nbsp;
                  <i class="fas fa-circle" style="color: #1976D2"></i>
                  &nbsp; CSS &nbsp;
                  <i class="fas fa-circle" style="color: #AEEA00"></i>
                  &nbsp; JS
                </p>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>My own WordPress theme</p>
              <p>See project showcase <a href="https://fringilla.blachut.me" target="_blank">here</a>!</p>
              <p>See it in action <a href="https://alarmy.blachut.me" target="_blank">here</a>!</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card pseudoasm -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>Pseudo-Assembly interpreter</p>
              <hr>

              <div class="skill-dots">
                <p>
                  <i class="fas fa-circle" style="color: var(--secondary)"></i>
                  &nbsp; ANSI C &nbsp;
                </p>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>Assembly language interpreter written in pure C</p>
              <p>See project git <a href="https://github.com/Brotholomew/Pseudo-assembly-Interpreter" target="_blank">here</a></p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card Angular Projects -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>Angular Projects</p>
              <hr>

              <div class="skill-dots">
                <p>
                  <i class="fas fa-circle" style="color: #D50000"></i>
                  &nbsp; Angular &nbsp;
                  <i class="fas fa-circle" style="color: #D32F2F"></i>
                  &nbsp; HTML &nbsp;
                  <i class="fas fa-circle" style="color: #1976D2"></i>
                  &nbsp; CSS &nbsp;
                  <i class="fas fa-circle" style="color: #AEEA00"></i>
                  &nbsp; TypeScript
                </p>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>I have worked on various Angular projects. Explore my <a href="https://github.com/Brotholomew" target="_blank">git</a> to see more!</p>
              <p>Some of them include:
                <a href="https://github.com/Brotholomew/rainbow-line2" target="_blank">Rainbow Line</a>,
                <a href="https://github.com/Brotholomew/hallOfHeroes" target="_blank">Hall of Heroes</a>
              and many versions this portfolio....</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card MiniCMS -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>MiniCMS</p>
              <hr>

              <div class="skill-dots">
                <p>
                  <i class="fas fa-circle" style="color: #7B1FA2"></i>
                  &nbsp; PHP &nbsp;
                  <i class="fas fa-circle" style="color: #D32F2F"></i>
                  &nbsp; HTML &nbsp;
                  <i class="fas fa-circle" style="color: #1976D2"></i>
                  &nbsp; CSS &nbsp;
                  <i class="fas fa-circle" style="color: #AEEA00"></i>
                  &nbsp; JS
                </p>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>A project developed with <a href="https://github.com/orgs/KNIDevTeam/dashboard" target="_blank"> KNI-dev-team</a>.
                The main purpose is to create a Central Messaging System for the staff at our faculty.</p>
              <p>See project git <a href="https://github.com/lavar3l/miniImageTool" target="_blank">here</a>!</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card MiniImageTool -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>MiniImageTool</p>
              <hr>

              <div class="skill-dots">
                <p>
                  <i class="fas fa-circle" style="color: var(--complementary-variant-1)"></i>
                  &nbsp; C++ &nbsp;
                  <i class="fas fa-circle" style="color: #AEEA00"></i>
                  &nbsp; C# &nbsp;
                </p>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>A project developed with <a href="https://github.com/orgs/KNIDevTeam/dashboard" target="_blank"> KNI-dev-team</a>.
                The main purpose is to distinguish some specified qualities of a given image.</p>
              <p>Project quickly died x.x</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card sop -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>POSIX compliant file indexer</p>
              <hr>

              <div class="skill-dots">
                <p>
                  <i class="fas fa-circle" style="color: var(--secondary)"></i>
                  &nbsp; ANSI C &nbsp;
                </p>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>This project was developed as part of my education in the field of C-programs for unix-like systems. Its main goal is to traverse the file tree in a specified directory and scan for files of strictly defined types.</p>
              <p>See project git <a href="https://github.com/Brotholomew/posix_file_indexer" target="_blank">here</a>!</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card aisd -->
      <div class="card">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>Data Structures design in C++</p>
              <hr>

              <div class="skill-dots">
                <p>
                  <i class="fas fa-circle" style="color: var(--complementary-variant-1)"></i>
                  &nbsp; C++ &nbsp;
                </p>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>In order to pass my arduous 'algorithms and data structures 1' course during the third semester, I
              coded the crucial algorithms for heaps, beaps, BST, AVL, Black-Red, B-, Splay, and other trees.</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->

      <!-- card sysadmin -->
      <div class="card" id="sysadmin">
        <div class="card-inner">

          <!-- card front -->
          <div class="card-front">
            <div class="card-contents">

              <p>Administering unix-based servers with docker</p>
              <hr>

              <div class="skill-dots">
                <p>
                  <i class="fas fa-circle" style="color: #FFA000"></i>
                  &nbsp; UnRaid &nbsp;
                  <i class="fas fa-circle" style="color: #CE93D8"></i>
                  &nbsp; ArchLinux &nbsp;
                  <i class="fas fa-circle" style="color: #D32F2F"></i>
                  &nbsp; bash &nbsp;
                  <i class="fas fa-circle" style="color: #1976D2"></i>
                  &nbsp; Docker &nbsp;
                </p>
              </div>

            </div>
          </div>
          <!-- /card front -->

          <!-- card back -->
          <div class="card-back">
            <div class="card-contents">
              <p>Thanks to my keen interest in server and cloud solutions, I am an administrator of the Student Research Group KNI servers (archlinux and windows-server) and virtual machines.
              I also experiment a lot with my home multimedia-family server. There are a lot of aspects to these kind of jobs. Hopefully every service can be implemented in a neat way with docker containers!</p>
            </div>
          </div>
          <!-- /card back -->

        </div>
      </div>
      <!-- /card -->


    </div>
  </div>

  <div class="footer">
    <p><a href="https://github.com/Brotholomew" target="_blank">brotholomew</a> | &copy; 2021</p>
  </div>

  <div class="photo-container" data-aos="fade" data-aos-duration="500" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
    <div class="face-frame-container" id="face-frame-container">
      <div class="animating-frame" id="animating-frame" >
        <iframe id="face-frame" src="../../assets/face.html" scrolling="no" ></iframe>
      </div>
    </div>
    <div class="contact-me-container">
      <p><a href="https://github.com/Brotholomew" target="_blank"><i class="hvr-wobble-horizontal fab fa-github"></i></a> &nbsp; | &nbsp; <a href="mailto:bartosz.w.blachut@gmail.com" target="_blank"><i class="hvr-wobble-horizontal far fa-envelope"></i></a> &nbsp; | &nbsp; <span [routerLink]="'/contact'" class="hvr-wobble-horizontal">Get in touch!</span></p>
    </div>
  </div>


</div>
